
.main {
  /* margin: 50% 0; */
}

.title {
  /* background-color: blue; */
  height: 1.5rem;
  font-size: 1.5rem;
  margin: auto;
}

.name {
  height: 2rem;
  width: 10rem;
  margin: 1rem auto;
  line-height: 2rem;
  font-size: 2rem;
  /* background-color: pink; */
  /* width: 20px; */
}

.btn {
  width: 6rem;
  height: 2rem;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 1rem;
}