.main {
  width: 90%;
  height: 30rem;
  margin: 22rem auto;
  text-align: center;
}
.btn {
  width: 6rem;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 1rem;
}

/* css for advanced.js */
.filterWrap {
  height: 1.5rem;
  margin: 0 auto 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr minmax(3rem, 6rem) minmax(3rem, 1fr) 1fr;
  grid-row: 1fr 1fr;
  gap: 0.3rem;
  line-height: 1.5rem;
  font-size: 1rem;
}
.addTag, .hideTag {
  grid-column: 2 / 3;
  justify-self: end;
}
.addPerson, .hidePerson{
  padding-left: 0.2rem;
}
#filterBtn {
  width: 4rem;
}

/* css for customized.js */
.developing {
  padding-top: 2rem;
  font-size: 3rem;
}
