.main {
  width: 100%;
  margin-top: 4rem;
  text-align: center;
  padding: 20rem 0 30rem;
}
.btn {
  background-color: transparent;
  color: black;
  border-radius: 0.6rem;
  height: 2.2rem;
  border-color: rgb(0, 0, 0, 0.3);
}
.btn:hover {
  background-color: rgb(0, 0, 0, 0.2);
  border-color: rgb(0, 0, 0, 0.3);
}
/* css for advanced.js */
.filterWrap {
  margin: 0 auto 3rem;
  display: grid;
  grid-template-columns: 1fr 180px 1fr;
  grid-row: 1fr 1fr;
  align-items: center;
  gap: 0.3rem;
  line-height: 1.5rem;
  font-size: 1rem;
}
.addTag, .hideTag {
  grid-column: 1 / 2;
  justify-self: end;
  align-self: center;
  font-size: 18px;
}
.addPerson, .hidePerson {
  justify-self: center;
  align-self: center;
}

#filterBtn {
  width: 4rem;
}

/* css for customized.js */
.developing {
  padding-top: 2rem;
  font-size: 3rem;
}
